<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-margin ion-padding">
    <div>
        Bitte trag deine E-Mail-Adresse ein. Wir senden dir eine E-Mail zu um dein Passwort zurückzusetzen.
    </div>

    <form [formGroup]="forgotPasswordForm" autocomplete="off">

        <ion-item class="ion-margin-top ion-no-padding">
            <ion-label position="stacked">E-Mail-Adresse</ion-label>
            <ion-input type="email" formControlName="email">
            </ion-input>
        </ion-item>

    </form>

    <app-password-reset-button></app-password-reset-button>

</ion-content>
