<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-margin">
    <ion-card>
        <div class="yellow-card-header">Passwort zurücksetzen</div>
        <ion-card-content class="ion-padding">
            <div>
                Bitte trag deine E-Mail-Adresse ein. Wir senden dir eine E-Mail zu um dein Passwort zurückzusetzen.
            </div>


            <ion-item class="ion-margin-top ion-no-padding">
                <ion-label position="stacked">E-Mail-Adresse</ion-label>
                <ion-input type="email" [(ngModel)]="email">
                </ion-input>
            </ion-item>


            <app-password-reset-button [email]="email"></app-password-reset-button>
        </ion-card-content>
    </ion-card>
</ion-content>
