<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Passwort zurücksetzen</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
        <div class="mt3">
            Enter the email address associated with your account, and we’ll
            email you a link to reset your password.
        </div>

        <form [formGroup]="forgotPasswordForm" autocomplete="off">

            <ion-item>
                <ion-label position="floating">Emailadresse</ion-label>
                <ion-input type="email" formControlName="email">
                </ion-input>
            </ion-item>

        </form>
        <ion-button (click)="reset_password()" expand="block" class="w-100 mt3" [disabled]="!forgotPasswordForm.valid">
            Send reset link
        </ion-button>
</ion-content>
