<ion-content class="ion-margin ion-padding-horizontal">
    <ion-grid>
        <form [formGroup]="loginForm" autocomplete="off">
            <ion-item>
                <ion-label position="floating">Emailadresse</ion-label>
                <ion-input type="email" formControlName="email"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password" formControlName="password"></ion-input>
            </ion-item>
            <div *ngIf="!loginForm.controls.email.valid && (loginForm.controls.email.dirty)" class="alert">Valid
                E-Mail is required
            </div>
        </form>
        <ion-row>
            <ion-button expand="full" class="ion-margin button-primary" [disabled]="!loginForm.valid"
                        (click)="tryLogin()">
                Login
            </ion-button>
        </ion-row>


        <app-social-login></app-social-login>


        <div class="ion-text-center">
            <a routerLink="/auth/sign-up" routerDirection="forward">Registrieren</a>
        </div>

        <div class="ion-text-center ion-margin-top">
            <a routerLink="/auth/password-forgot" routerDirection="forward">
                Passwort vergessen?
            </a>
        </div>
    </ion-grid>
</ion-content>
