<ion-content class="ion-margin">
  <ion-button (click)="modalCtrl.dismiss()">
    <ion-icon slot="icon-only" size="1.5" name="close-circle-outline" ></ion-icon>
  </ion-button>
  <div class="ion-padding">
    <algolia-search (place)="onPlaceSelect($event)" name="place" searchType="address"></algolia-search>
  </div>

  <form [formGroup]="newJobForm" autocomplete="off">

    <ion-item>
      <ion-label>Kategorie</ion-label>
      <ion-select formControlName="category" value="shopping" okText="Okay" cancelText="Dismiss">
        <ion-select-option *ngFor="let item of categories" [value]="item.value">{{item.displayName}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Beschreibung</ion-label>
      <ion-input type="text" formControlName="description"></ion-input>
    </ion-item>
   <!-- <ion-item>
      <ion-label position="fixed">Ab wann?</ion-label>
      <ion-input type="date" formControlName="startDate"></ion-input>
    </ion-item>-->
    <ion-item>
      <ion-label position="fixed">Bis wann?</ion-label>
      <ion-input type="date" formControlName="dueDate"></ion-input>
    </ion-item>

    <div class="ion-margin-top ion-text-center">
      <ion-button class="mt3" tappable [disabled]="!newJobForm.valid" (click)="publishJob()">
        Hilfe anfragen
      </ion-button>
    </div>

  </form>

</ion-content>
