<ion-header translucent>
  <ion-toolbar>
    <ion-title>Neuer Job</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="modalCtrl.dismiss()">Schließen</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-margin">
  <div class="ion-padding">
    <algolia-search (place)="onPlaceSelect($event)" name="place" searchType="address"></algolia-search>
  </div>

  <form [formGroup]="newJobForm" autocomplete="off">

    <ion-item>
      <ion-label position="stacked">Kategorie</ion-label>
      <ion-select formControlName="category" value="shopping" okText="Okay" cancelText="Dismiss">
        <ion-select-option *ngFor="let item of categories" [value]="item.value">{{item.displayName}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Beschreibung</ion-label>
      <ion-textarea formControlName="description"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Ihr Telefon</ion-label>
      <ion-input formControlName="phone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Wann?</ion-label>
      <ion-datetime displayFormat="D MMM YYYY H:mm" [min]="now" formControlName="startDate"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Bis wann? (optional)</ion-label>
      <ion-datetime displayFormat="D MMM YYYY H:mm" [min]="now" formControlName="endDate"></ion-datetime>
    </ion-item>

    <div class="ion-margin-top ion-text-center">
      <ion-button class="mt3" tappable [disabled]="!newJobForm.valid" (click)="publishJob()">
        Hilfe anfragen
      </ion-button>
    </div>

  </form>

</ion-content>
