<ion-content [fullscreen]="true">
  <ion-card class="dollars-card">
    <ion-grid class="ion-no-padding">
      <ion-row class="ion-no-padding">
        <ion-col size="3" class="icon-container ion-padding-vertical" (click)="openDetailsModal(id)">
          <app-category-icon iconName="logo-usd"></app-category-icon>
        </ion-col>
        <ion-col class="main-container" size="9">
          <ion-card-content>
            <div>Hood-Dollars: <span class="number">{{user?.hoodDollars}}</span></div>
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <div class="ion-padding-horizontal">
    <h5>Aktuelle Rabatte in deiner Hood</h5>
  </div>
  <app-reward-card *ngFor="let reward of rewards" [reward]="reward"></app-reward-card>
  <div *ngIf="rewards.length === 0" class="ion-padding-horizontal no-rewards">Keine Rabatte verfügbar</div>
</ion-content>
