<div class="ion-padding">
  <div class="inline-flex">
    <app-category-icon [iconName]="selectedCategory.icon"></app-category-icon>
    <div class="ion-margin-start">
      <div class="header">{{selectedCategory.displayName}}</div>
      <div>{{job.dueDate}}</div>
      <div *ngIf="job.location">{{job.location.postalCode}} {{job.location.city}} </div>
    </div>
  </div>
  <div>
    Google Maps
  </div>
  <div>
    {{job.description}}
  </div>
</div>
<div class="help ion-text-center">
  Hilfe anbieten
</div>
