@import "variables";

@mixin dark {
  background-color: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
  --background-color: var(--ion-color-primary);
  --color: var(--ion-color-primary-contrast);
}

@mixin default-font {
  color: #3e3b3b;
  font-size: 15px;
}

@mixin font-bold {
  font-weight: 600;
}

@mixin font-accent {
  font-weight: 900;
  color: var(--ion-color-primary-contrast);
}

@mixin card-with-icon {
  .icon-container {
    display: inline-flex;

    app-category-icon {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .main-container {
    display: inline-flex;
  }

  ion-card-content {
    @include default-font;
  }
}

@mixin default-modal {
  ion-content {
    --background: white;
  }
}