<ion-content [fullscreen]="true">

    <h5 class="ion-padding-horizontal">Ausstehend</h5>
    <app-interaction-card *ngFor="let job of jobsTaken" [jobTaken]="job" action="help"></app-interaction-card>

    <div *ngIf="jobsDoneByMe.length > 0">
        <ion-toolbar>Erledigt</ion-toolbar>
    </div>
    <app-interaction-card *ngFor="let job of jobsDoneByMe" [jobTaken]="job" action="help"></app-interaction-card>

    <h5 class="ion-padding-horizontal">Von mir angefragt</h5>

    <app-interaction-card *ngFor="let job of jobsPosted" [jobTaken]="job" action="inNeed"></app-interaction-card>

    <div *ngIf="jobsDoneForMe.length > 0">
        <ion-toolbar>Erledigt</ion-toolbar>

    </div>
    <app-interaction-card *ngFor="let job of jobsDoneForMe" [jobTaken]="job" action="inNeed"></app-interaction-card>
</ion-content>
