<ion-content *ngIf="userProfile" fullscreen="true" class="ion-margin-top">

    <ion-card class="ion-margin-top" style="margin-top: 5rem;">
        <div class="yellow-card-header">Dein Profil
            <div class="end" (click)="doLogout()">Logout</div>
        </div>
        <ion-card-content>
            <ion-item class="ion-no-padding">
                <ion-label position="stacked">Vorname</ion-label>
                <ion-input id="firstName" type="text" maxlength="20" [(ngModel)]="name"></ion-input>
            </ion-item>

            <ion-item *ngIf="shownlocation" class="ion-no-padding">
                <ion-label position="stacked">Deine Hood</ion-label>
                <div>{{shownlocation}}</div>
            </ion-item>

            <div class="ion-margin-top">
                <algolia-search class="ion-margin-top" (place)="onPlaceSelect($event)" name="place" searchType="address"></algolia-search>
            </div>

            <div class="ion-text-center ion-margin">
                <ion-button (click)="updateProfile()">
                    Speichern
                </ion-button>
            </div>

            <ion-item class="ion-no-padding">
                <ion-label position="stacked">E-Mail-Adresse</ion-label>
                <div readonly>{{userProfile.email}}</div>
            </ion-item>


            <div class="ion-margin-top">
                <app-password-reset-button [email]="userProfile.email" title="Passwort ändern"></app-password-reset-button>
            </div>

            <div class="ion-margin ion-padding, ion-text-center">
                <a>AGB</a>,

                <a>Impressum</a>,

                <a>Datenschutz</a>
            </div>
        </ion-card-content>

    </ion-card>
</ion-content>
