<ion-card *ngIf="selectedCategory">
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col size="3" class="icon-container ion-padding-vertical" (click)="openDetailsModal(id)">
          <app-category-icon [iconName]="selectedCategory.icon"></app-category-icon>
      </ion-col>
      <ion-col class="main-container" size="9" (click)="openDetailsModal(id)">
        <div class="description">
          <ion-card-content>
            <div class="category">{{selectedCategory.displayName}}</div>
            <div class="header">{{job.location.postalCode}} {{job.location.city}}</div>

          </ion-card-content>
        </div>
        <ion-button *ngIf="newJob" color="secondary" class="button-right" (click)="help()" >Helfen</ion-button>
        <ion-button *ngIf="!newJob" color="secondary" class="button-right">Committed</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-card>
