<ion-card *ngIf="selectedCategory" (click)="openDetailsModal(id)">
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col size="3" class="ion-padding-vertical">
          <app-category-icon [iconName]="selectedCategory.icon"></app-category-icon>
      </ion-col>
      <ion-col size="6">
        <ion-card-subtitle>{{selectedCategory.displayName}}</ion-card-subtitle>
        <ion-card-content>{{job.name}}</ion-card-content>
      </ion-col>
      <ion-col size="3" class="ion-no-padding">
        <div *ngIf="newJob" class="ion-padding-vertical button-right" (click)="help()" >Helfen</div>
        <div *ngIf="!newJob" class="ion-padding-vertical button-right">Committed</div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-card>
