ion-icon {
  background-color: var(--ion-color-primary-contrast);
  color: var(--ion-color-primary-tint);
  font-size: 2.5rem;
  padding: 1rem;
  -webkit-border-radius: 55px;
  -moz-border-radius: 55px;
  border-radius: 55px;
}
