<ion-card *ngIf="action==='help'">

    <div class="do-for-who">
            {{selectedCategory.displayName}} für {{jobTaken.name}}
        <ion-icon class="message-icon" slot="end" name="chatbox-outline"></ion-icon>
    </div>
    <ion-card-content>
        <div *ngIf="jobTaken.status == 'committed'">
            <ion-row>
                <ion-col size="3">
                    <app-circled-icon name="help-outline"></app-circled-icon>
                </ion-col>
                <ion-col>
                    {{jobTaken.name}} hat deine Hilfe noch nicht bestätigt
                </ion-col>
            </ion-row>
        </div>
        <div *ngIf="jobTaken.status == 'inProgress'">
            <ion-row>
                <ion-col size="3">
                    <app-circled-icon name="checkmark-outline"></app-circled-icon>
                </ion-col>
                <ion-col>
                    {{jobTaken.name}} nimmt deine Hilfe an. Leg los!
                </ion-col>
            </ion-row>
        </div>
        <div *ngIf="jobTaken.status == 'done'">
            <ion-row>
                <ion-col class="status-icon" size="3">
                    <app-circled-icon name="checkmark-outline" inputClass="green"></app-circled-icon>
                </ion-col>
                <ion-col>
                    Danke, dass du {{jobTaken.name}} unterstützt hast
                </ion-col>
            </ion-row>
        </div>
    </ion-card-content>
</ion-card>

<ion-card *ngIf="action==='inNeed'">
    <div *ngIf="jobTaken.status == 'new'">
        <div class="do-for-who">Du suchst jemanden zum {{selectedCategory.displayName}}</div>
        <ion-card-content class="content">
            <ion-row>
                <ion-col>
                    Deine Anfrage wurde gestellt.
                </ion-col>
            </ion-row>
        </ion-card-content>
    </div>
    <div *ngIf="jobTaken.status == 'committed'">
        <div class="do-for-who">{{jobTaken.committedBy.name}}
            möchte {{selectedCategory.displayName}}</div>
        <ion-card-content >
            <ion-row>
                <ion-col>
                    <ion-button (click)="acceptHelp()">
                        <ion-icon name="checkmark-outline"></ion-icon>
                        Annehmen
                    </ion-button>
                </ion-col>
                <ion-col>
                    <ion-button (click)="denyHelp()">
                        <ion-icon name="close-outline"></ion-icon>
                        Ablehnen
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </div>
    <div *ngIf="jobTaken.status == 'inProgress'">
        <div class="do-for-who">{{jobTaken.committedBy.name}}
            möchte {{selectedCategory.displayName}}</div>
        <ion-card-content>
            <ion-row>
                {{jobTaken.committedBy.name}} führt den Job jetzt für dich aus :)
            </ion-row>
            <ion-row *ngIf="jobTaken.status == 'inProgress'">
                <ion-button (click)="markAsDone()">Als erledigt markieren</ion-button>
            </ion-row>
        </ion-card-content>
    </div>
    <div *ngIf="jobTaken.status == 'done'">
        <div class="do-for-who">Du hast hilfe erhalten</div>
        <ion-card-content>
            <ion-row>
                <ion-col size="3">
                    <app-circled-icon name="checkmark-outline" inputClass="green"></app-circled-icon>
                </ion-col>
                <ion-col>
                    {{jobTaken.committedBy.name}} hat {{selectedCategory.displayName}} für dich erledigt.
                </ion-col>
            </ion-row>
        </ion-card-content>
    </div>
</ion-card>
